.video {
    width: 100%;
    min-width: 1300px;
}

.banner {
    position: relative;
}

.text-video {
    position: absolute;
    top: 25%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}