.img-logo-border {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32%;
  min-width: 420px;
  max-width: 550px; }

.img-navbar {
  width: 100%; }

.img-index {
  border-radius: 21px 21px 21px 21px;
  width: 356px;
  height: 304px;
  box-shadow: 5px 3px 30px 0px rgba(0, 0, 0, 0.75); }

.img-index:hover {
  top: 2px;
  left: 1px;
  box-shadow: 1px 0px 24px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 24px 0px rgba(0, 0, 0, 0.75); }

@media (max-width: 600px) {
  .img-navbar {
    width: 300px; }
  .img-logo-border {
    min-width: 300px;
    max-width: 400px; }
  .img-base {
    height: 800px; } }

.img-base {
  width: 100%;
  height: 901px;
  background: url("../img/home.jpg");
  max-height: 900px;
  background-repeat: repeat-x; }

.text-inside-img {
  top: 60%;
  left: 50%;
  background-color: #fff;
  padding: 17px 50px;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 10px 10px #fff;
  -moz-box-shadow: 0px 0px 10px 10px #fff;
  box-shadow: 0px 0px 10px 10px #fff;
  color: black;
  font-weight: bold;
  font-size: 27px; }

.button {
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  --offset: 10px;
  --border-size: 2px;
  display: block;
  position: relative;
  padding: 1.5em 3em;
  appearance: none;
  border: 0;
  background: transparent;
  background-color: white;
  color: black;
  text-transform: uppercase;
  letter-spacing: .25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background .8s ease; }
  .button:hover {
    background: rgba(100, 0, 0, 0.03);
    background-color: #ffffff7a !important; }
  .button__horizontal, .button__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform .8s ease;
    will-change: transform; }
    .button__horizontal::before, .button__vertical::before {
      content: '';
      position: absolute;
      border: inherit; }
  .button__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor; }
    .button__horizontal::before {
      top: calc(var(--vertical-offset) - var(--border-size));
      bottom: calc(var(--vertical-offset) - var(--border-size));
      left: calc(var(--vertical-offset) * -1);
      right: calc(var(--vertical-offset) * -1); }
  .button:hover .button__horizontal {
    transform: scaleX(0); }
  .button__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor; }
    .button__vertical::before {
      top: calc(var(--horizontal-offset) * -1);
      bottom: calc(var(--horizontal-offset) * -1);
      left: calc(var(--horizontal-offset) - var(--border-size));
      right: calc(var(--horizontal-offset) - var(--border-size)); }
  .button:hover .button__vertical {
    transform: scaleY(0); }

@media (max-width: 767px) {
  .w-50 {
    width: 100% !important; } }

@media (max-width: 500px) {
  .img-navbar {
    width: 250px; }
  .img-base {
    height: 700px; }
  .button {
    width: 50%;
    font-size: 11px; } }

@media (max-width: 400px) {
  .img-navbar {
    width: 200px; }
  .img-logo-border {
    min-width: 250px;
    max-width: 350px; }
  .img-base {
    height: 600px; } }

@media (max-width: 320px) {
  .img-navbar {
    width: 150px;
    margin: 10%; } }
