.container {
    max-width: 1198px !important;
}

.c-black {
    color: black !important;
}

.p-relative {
    position: relative !important;
}

.img-farming {
    position: absolute;
    bottom: 0px;
}

.bg-color {
    background-color: #f7f7f7;
}

.featurette-divider {
    background: #6abb3d;
    height: 2px;
}

.flag-icon-sp {
    background: url("../img/flag-sp.png") no-repeat;
    background-size: 25px;
    color: transparent !important;
    padding: 2px;
}

.flag-icon-fr {
    background: url("../img/flag-fr.png") no-repeat;
    background-size: 25px;
    color: transparent !important;
    padding: 2px;
}

.flag-icon-cat {
    background: url("../img/flag-cat.png") no-repeat;
    background-size: 25px;
    color: transparent !important;
    padding: 2px;
}

.footer-created-by-AJimenez {
    width: 100%;
    background-color: #f7f7f7;
    text-align: center;
}
