.bg-color {
    background-color: #f7f7f7;
}

.flag-icon-sp {
    background: url("../img/flag-sp.png") no-repeat;
    background-size: 25px;
    color: transparent !important;
    padding: 2px;
}

.flag-icon-fr {
    background: url("../img/flag-fr.png") no-repeat;
    background-size: 25px;
    color: transparent !important;
    padding: 2px;
}

