.f-size-content {
  font-size: 12px; }

.btn-link {
  color: #6abb3d !important; }

.btn-primary {
  color: #fff;
  background-color: #6abb3d !important;
  border-color: #6ABB68 !important; }
  .btn-primary:hover {
    background-color: #179654 !important; }
  .btn-primary:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
