<footer class="text-muted py-3 bg-color">
    <div class="container mt-3">
        <label class="float-right">
            <a href="#">Back to top</a>
        </label>
        <label>
            ©Àmbit Verd Serveis Integrals de Jardineria S.L. · Puigcerdà · Tel 667 554 059 · info@ambitverd.com 
        </label>
    </div>
</footer>