<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="host" value="smtp.gmail.com" />
    <add key="port" value="587" />
    <add key="user" value="alejimreg@gmail.com" />
    <add key="password" value="alejandro199855" />
    <add key="enableSsl" value="true" />
  </appSettings>
</configuration>


