@{
    ViewBag.Title = Ambit_Verd.Resources.Layout.Name;
}

@section Styles {
    @Styles.Render("~/Content/css/contact")
}


<div class="banner">
    <video class="video" autoplay muted loop>

        <source src="~/Content/img/grass-move.mp4" type="video/mp4">
    </video>
    <div class="text-video">
            <h3 class="row font-weight-bold"> CONTACTO: </h3>
            <label class="row"> Puede contactar con nosotros a través de: </label>
            <label class="row"> ICONO TELF - 667 554 059</label>
            <label class="row"> ICONO EMAIL - info@ambitverd.com </label>
            <label class="row"> ICONO TWITER - Ambit Verd </label>
            <label class="row"> ICONO INSTAGRAM - info@ambitverd.com </label>
    </div>

</div>

